.idea
.run
.cache
__pycache__/
binding/dev/
test/dat/
tmp
*.so
*.o
*.mod
*.x
*~
*.aux
*.toc
*.out
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.synctex.gz
*.pyc
**.nfs*
*checkpoint*
.ipynb_checkpoints/
.stignore
.stfolder
nohup.out
**.ipynb_checkpoints
/examples/.ipynb_checkpoints/
dat
dataset
data
dataset*
results
**dat
**dataset
model/
**__pycache__
sync
papers
venv
lightning_logs
node_modules
*.zip
*chkpt_*
**MUJOCO_LOG.TXT
**.log
**.h5
.DS_Store

build/
*.egg-info/
dist/
sketch*.ipynb